<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:p="http://www.springframework.org/schema/p"
		xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xsi:schemaLocation="  
       http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd    
       http://www.springframework.org/schema/mvc   
       http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd     
       http://www.springframework.org/schema/context   
       http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- 注解驱动 -->
	<mvc:annotation-driven />
	
	<!-- 扫描包 -->
	<context:component-scan base-package="cc.messcat.gjfeng">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<!-- 编码处理  -->
	<bean id="stringConverter"
		class="org.springframework.http.converter.StringHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/plain;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	
	<!-- 输出对象转JSON支持 -->
	<!-- P.S. spring4.0只支持使用MappingJackson2HttpMessageConverter而不是MappingJacksonHttpMessageConverter -->
	<bean id="jsonConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<!-- 编码处理  -->
		<property name="supportedMediaTypes">
			<list>
				<value>text/plain;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	
	<!-- 校验 -->
	<bean id="validator"
    	class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

	<!-- 对静态资源文件的访问 不支持访问WEB-INF目录 -->
	<mvc:default-servlet-handler />

	<!-- 启用Spring MVC注解功能，完成请求及响应自动转换为JSON字符串 -->
	<!-- P.S. 这里使用了Spring3.1开始的更高级的RequestMappingHandlerAdapter来支持 -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters"> 
			<list> 
				<ref bean="stringConverter"	/> 
				<ref bean="jsonConverter" />
			</list> 
		</property>
	</bean>
	
	<!-- <import resource="classpath:spring.xml"/>
	<import resource="classpath:spring-app-provide.xml"/> -->
</beans>