#gopng_commodity-management_outer {
height: 80px;
width: 80px;
overflow: hidden;
}
#gopng_commodity-management {
background: url(http://gopng/static/images/sprite.png) -0px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_release-commodities_outer {
height: 80px;
width: 80px;
overflow: hidden;
}
#gopng_release-commodities {
background: url(http://gopng/static/images/sprite.png) -80px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 80px;
_margin-left: -80px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_order-management_outer {
height: 80px;
width: 80px;
overflow: hidden;
}
#gopng_order-management {
background: url(http://gopng/static/images/sprite.png) -160px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 160px;
_margin-left: -160px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_提现-拷贝-4_outer {
height: 70px;
width: 70px;
overflow: hidden;
}
#gopng_提现-拷贝-4 {
background: url(http://gopng/static/images/sprite.png) -240px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 240px;
_margin-left: -240px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_wallet_expense_outer {
height: 49px;
width: 42px;
overflow: hidden;
}
#gopng_wallet_expense {
background: url(http://gopng/static/images/sprite.png) -310px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 310px;
_margin-left: -310px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_wallet_profit_outer {
height: 49px;
width: 49px;
overflow: hidden;
}
#gopng_wallet_profit {
background: url(http://gopng/static/images/sprite.png) -352px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 352px;
_margin-left: -352px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_wallet_history_outer {
height: 48px;
width: 45px;
overflow: hidden;
}
#gopng_wallet_history {
background: url(http://gopng/static/images/sprite.png) -401px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 401px;
_margin-left: -401px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_形状-4-拷贝-4_outer {
height: 46px;
width: 41px;
overflow: hidden;
}
#gopng_形状-4-拷贝-4 {
background: url(http://gopng/static/images/sprite.png) -446px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 446px;
_margin-left: -446px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_wallet_rule_outer {
height: 45px;
width: 41px;
overflow: hidden;
}
#gopng_wallet_rule {
background: url(http://gopng/static/images/sprite.png) -487px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 487px;
_margin-left: -487px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_我的（填充）_outer {
height: 45px;
width: 43px;
overflow: hidden;
}
#gopng_我的（填充） {
background: url(http://gopng/static/images/sprite.png) -528px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 528px;
_margin-left: -528px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_我的_outer {
height: 45px;
width: 43px;
overflow: hidden;
}
#gopng_我的 {
background: url(http://gopng/static/images/sprite.png) -0px -80px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 80px;
_margin-top: -80px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_首页（填充）_outer {
height: 45px;
width: 44px;
overflow: hidden;
}
#gopng_首页（填充） {
background: url(http://gopng/static/images/sprite.png) -43px -80px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 43px;
_margin-left: -43px;
_padding-top: 80px;
_margin-top: -80px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_首页_outer {
height: 45px;
width: 44px;
overflow: hidden;
}
#gopng_首页 {
background: url(http://gopng/static/images/sprite.png) -87px -80px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 87px;
_margin-left: -87px;
_padding-top: 80px;
_margin-top: -80px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_商城（填充）_outer {
height: 45px;
width: 44px;
overflow: hidden;
}
#gopng_商城（填充） {
background: url(http://gopng/static/images/sprite.png) -131px -80px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 131px;
_margin-left: -131px;
_padding-top: 80px;
_margin-top: -80px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_商城-(1)_outer {
height: 45px;
width: 44px;
overflow: hidden;
}
#gopng_商城-(1) {
background: url(http://gopng/static/images/sprite.png) -175px -80px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 175px;
_margin-left: -175px;
_padding-top: 80px;
_margin-top: -80px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_mine_service_outer {
height: 42px;
width: 42px;
overflow: hidden;
}
#gopng_mine_service {
background: url(http://gopng/static/images/sprite.png) -219px -80px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 219px;
_margin-left: -219px;
_padding-top: 80px;
_margin-top: -80px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_图片-(1)_outer {
height: 42px;
width: 42px;
overflow: hidden;
}
#gopng_图片-(1) {
background: url(http://gopng/static/images/sprite.png) -261px -80px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 261px;
_margin-left: -261px;
_padding-top: 80px;
_margin-top: -80px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_set_outer {
height: 42px;
width: 42px;
overflow: hidden;
}
#gopng_set {
background: url(http://gopng/static/images/sprite.png) -303px -80px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 303px;
_margin-left: -303px;
_padding-top: 80px;
_margin-top: -80px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_附近商家(填充）_outer {
height: 42px;
width: 48px;
overflow: hidden;
}
#gopng_附近商家(填充） {
background: url(http://gopng/static/images/sprite.png) -345px -80px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 345px;
_margin-left: -345px;
_padding-top: 80px;
_margin-top: -80px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_附近商家_outer {
height: 42px;
width: 48px;
overflow: hidden;
}
#gopng_附近商家 {
background: url(http://gopng/static/images/sprite.png) -393px -80px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 393px;
_margin-left: -393px;
_padding-top: 80px;
_margin-top: -80px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_wallet_ID_outer {
height: 42px;
width: 58px;
overflow: hidden;
}
#gopng_wallet_ID {
background: url(http://gopng/static/images/sprite.png) -441px -80px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 441px;
_margin-left: -441px;
_padding-top: 80px;
_margin-top: -80px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_mine_about_outer {
height: 41px;
width: 41px;
overflow: hidden;
}
#gopng_mine_about {
background: url(http://gopng/static/images/sprite.png) -499px -80px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 499px;
_margin-left: -499px;
_padding-top: 80px;
_margin-top: -80px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_mine_address_outer {
height: 40px;
width: 40px;
overflow: hidden;
}
#gopng_mine_address {
background: url(http://gopng/static/images/sprite.png) -540px -80px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 540px;
_margin-left: -540px;
_padding-top: 80px;
_margin-top: -80px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_wallet_withdraw_outer {
height: 40px;
width: 73px;
overflow: hidden;
}
#gopng_wallet_withdraw {
background: url(http://gopng/static/images/sprite.png) -0px -125px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 125px;
_margin-top: -125px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_mine_wallet_outer {
height: 39px;
width: 39px;
overflow: hidden;
}
#gopng_mine_wallet {
background: url(http://gopng/static/images/sprite.png) -73px -125px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 73px;
_margin-left: -73px;
_padding-top: 125px;
_margin-top: -125px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_redact_outer {
height: 38px;
width: 38px;
overflow: hidden;
}
#gopng_redact {
background: url(http://gopng/static/images/sprite.png) -112px -125px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 112px;
_margin-left: -112px;
_padding-top: 125px;
_margin-top: -125px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_mine_wait-shipments_outer {
height: 38px;
width: 41px;
overflow: hidden;
}
#gopng_mine_wait-shipments {
background: url(http://gopng/static/images/sprite.png) -150px -125px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 150px;
_margin-left: -150px;
_padding-top: 125px;
_margin-top: -125px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_mine_obligation_outer {
height: 37px;
width: 33px;
overflow: hidden;
}
#gopng_mine_obligation {
background: url(http://gopng/static/images/sprite.png) -191px -125px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 191px;
_margin-left: -191px;
_padding-top: 125px;
_margin-top: -125px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_mine_news_outer {
height: 37px;
width: 41px;
overflow: hidden;
}
#gopng_mine_news {
background: url(http://gopng/static/images/sprite.png) -224px -125px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 224px;
_margin-left: -224px;
_padding-top: 125px;
_margin-top: -125px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_mine_finish_outer {
height: 37px;
width: 43px;
overflow: hidden;
}
#gopng_mine_finish {
background: url(http://gopng/static/images/sprite.png) -265px -125px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 265px;
_margin-left: -265px;
_padding-top: 125px;
_margin-top: -125px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_mine_merchant_outer {
height: 36px;
width: 40px;
overflow: hidden;
}
#gopng_mine_merchant {
background: url(http://gopng/static/images/sprite.png) -308px -125px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 308px;
_margin-left: -308px;
_padding-top: 125px;
_margin-top: -125px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_mine_shopping-cart_outer {
height: 36px;
width: 40px;
overflow: hidden;
}
#gopng_mine_shopping-cart {
background: url(http://gopng/static/images/sprite.png) -348px -125px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 348px;
_margin-left: -348px;
_padding-top: 125px;
_margin-top: -125px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_shop-care_delet_outer {
height: 35px;
width: 32px;
overflow: hidden;
}
#gopng_shop-care_delet {
background: url(http://gopng/static/images/sprite.png) -388px -125px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 388px;
_margin-left: -388px;
_padding-top: 125px;
_margin-top: -125px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_删除商品_outer {
height: 35px;
width: 33px;
overflow: hidden;
}
#gopng_删除商品 {
background: url(http://gopng/static/images/sprite.png) -420px -125px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 420px;
_margin-left: -420px;
_padding-top: 125px;
_margin-top: -125px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_编辑商品_outer {
height: 35px;
width: 34px;
overflow: hidden;
}
#gopng_编辑商品 {
background: url(http://gopng/static/images/sprite.png) -453px -125px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 453px;
_margin-left: -453px;
_padding-top: 125px;
_margin-top: -125px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_mine_collect_outer {
height: 35px;
width: 40px;
overflow: hidden;
}
#gopng_mine_collect {
background: url(http://gopng/static/images/sprite.png) -487px -125px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 487px;
_margin-left: -487px;
_padding-top: 125px;
_margin-top: -125px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_提现-(1)_outer {
height: 34px;
width: 38px;
overflow: hidden;
}
#gopng_提现-(1) {
background: url(http://gopng/static/images/sprite.png) -527px -125px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 527px;
_margin-left: -527px;
_padding-top: 125px;
_margin-top: -125px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_mine_Receiving-goods_outer {
height: 33px;
width: 41px;
overflow: hidden;
}
#gopng_mine_Receiving-goods {
background: url(http://gopng/static/images/sprite.png) -0px -165px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 165px;
_margin-top: -165px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_address_outer {
height: 30px;
width: 21px;
overflow: hidden;
}
#gopng_address {
background: url(http://gopng/static/images/sprite.png) -571px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 571px;
_margin-left: -571px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_shop-cart_choose_outer {
height: 29px;
width: 29px;
overflow: hidden;
}
#gopng_shop-cart_choose {
background: url(http://gopng/static/images/sprite.png) -565px -125px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 565px;
_margin-left: -565px;
_padding-top: 125px;
_margin-top: -125px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_shop-care_no_outer {
height: 29px;
width: 29px;
overflow: hidden;
}
#gopng_shop-care_no {
background: url(http://gopng/static/images/sprite.png) -41px -165px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 41px;
_margin-left: -41px;
_padding-top: 165px;
_margin-top: -165px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_address_address_outer {
height: 28px;
width: 25px;
overflow: hidden;
}
#gopng_address_address {
background: url(http://gopng/static/images/sprite.png) -70px -165px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 70px;
_margin-left: -70px;
_padding-top: 165px;
_margin-top: -165px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_compile_delete_outer {
height: 25px;
width: 22px;
overflow: hidden;
}
#gopng_compile_delete {
background: url(http://gopng/static/images/sprite.png) -95px -165px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 95px;
_margin-left: -95px;
_padding-top: 165px;
_margin-top: -165px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_phone_outer {
height: 25px;
width: 23px;
overflow: hidden;
}
#gopng_phone {
background: url(http://gopng/static/images/sprite.png) -117px -165px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 117px;
_margin-left: -117px;
_padding-top: 165px;
_margin-top: -165px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_address_compile_outer {
height: 25px;
width: 25px;
overflow: hidden;
}
#gopng_address_compile {
background: url(http://gopng/static/images/sprite.png) -140px -165px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 140px;
_margin-left: -140px;
_padding-top: 165px;
_margin-top: -165px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_shop-cart_merchant_outer {
height: 25px;
width: 26px;
overflow: hidden;
}
#gopng_shop-cart_merchant {
background: url(http://gopng/static/images/sprite.png) -165px -165px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 165px;
_margin-left: -165px;
_padding-top: 165px;
_margin-top: -165px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_形状-2-拷贝-2_outer {
height: 24px;
width: 15px;
overflow: hidden;
}
#gopng_形状-2-拷贝-2 {
background: url(http://gopng/static/images/sprite.png) -580px -80px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 580px;
_margin-left: -580px;
_padding-top: 80px;
_margin-top: -80px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_code_outer {
height: 23px;
width: 20px;
overflow: hidden;
}
#gopng_code {
background: url(http://gopng/static/images/sprite.png) -191px -165px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 191px;
_margin-left: -191px;
_padding-top: 165px;
_margin-top: -165px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_auth-code_outer {
height: 23px;
width: 24px;
overflow: hidden;
}
#gopng_auth-code {
background: url(http://gopng/static/images/sprite.png) -211px -165px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 211px;
_margin-left: -211px;
_padding-top: 165px;
_margin-top: -165px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_形状-4-拷贝-3_outer {
height: 20px;
width: 18px;
overflow: hidden;
}
#gopng_形状-4-拷贝-3 {
background: url(http://gopng/static/images/sprite.png) -310px -49px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 310px;
_margin-left: -310px;
_padding-top: 49px;
_margin-top: -49px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_形状-4-拷贝-2_outer {
height: 20px;
width: 18px;
overflow: hidden;
}
#gopng_形状-4-拷贝-2 {
background: url(http://gopng/static/images/sprite.png) -328px -49px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 328px;
_margin-left: -328px;
_padding-top: 49px;
_margin-top: -49px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_圆角矩形-1-拷贝-4_outer {
height: 18px;
width: 23px;
overflow: hidden;
}
#gopng_圆角矩形-1-拷贝-4 {
background: url(http://gopng/static/images/sprite.png) -346px -49px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 346px;
_margin-left: -346px;
_padding-top: 49px;
_margin-top: -49px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_圆角矩形-1-拷贝-3_outer {
height: 18px;
width: 23px;
overflow: hidden;
}
#gopng_圆角矩形-1-拷贝-3 {
background: url(http://gopng/static/images/sprite.png) -369px -49px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 369px;
_margin-left: -369px;
_padding-top: 49px;
_margin-top: -49px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
